<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <h1>Branch Name</h1>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="continer row text-center">
            <div class="col-lg-4" >
                <%- include('card') %>
            </div>
            <div class="col-lg-4">
                <%- include('card') %>
            </div>
            <div class="col-lg-4">
                <%- include('card') %>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="continer row text-center">
            <div class="col-lg-4" >
                <%- include('card') %>
            </div>
            <div class="col-lg-4">
                <%- include('card') %>
            </div>
            <div class="col-lg-4">
                <%- include('card') %>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="continer row text-center">
            <div class="col-lg-4" >
                <%- include('card') %>
            </div>
            <div class="col-lg-4">
                <%- include('card') %>
            </div>
            <div class="col-lg-4">
                <%- include('card') %>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>